############################################
# Application registration at Microsoft

# Registered application credentials (one or two or many)
APP_SECRETS=application-id-1:secret-1,application-id-2:secret-2

# Default application ID for new users. Old users will keep their application
# ID unless they login to UI without a valid browser session. Defaults to first
# application ID in APP_SECRETS
#DEFAULT_APP_ID=

############################################
# Database configuration

# SQLite database path
#SQLITE_PATH=data/db.sqlite

############################################
# Cookie configuration

# Session cookie name and secret key with at least 32 characters. For secret
# keys with special characters use array notation as shown below
SESSION_COOKIE=session
SESSION_SECRET=generate-a-secure-string

# Use array-like notation in case of key-rotation. First secret key one is the
# current session secret
#SESSION_SECRET=[new key, old-key, very-old-key]
# Double quotes around the secrets are optional, but required if the secret
# contains comma or when leading and/or trailing spaces need to be preserved.
# Double quote itself needs to be escaped with backslash. Example:
#SESSION_SECRET=[" ^key*, with \"special\" @characters$ "]

############################################
# Target server configuration

# Target server hostname or IP address
#SMTP_TARGET_HOST=smtp-mail.outlook.com

# Target server port
#SMTP_TARGET_PORT=587

# Use SSL/TLS to connect to the target server (true) or STARTTLS (false)
#SMTP_TARGET_TLS=false

############################################
# Listening server configuration

# SMTP server listening host or address. Multiple addresses can be specified
# separated by comma, empty value equals to listening on all interfaces.
# Defaults to localhost in development and empty value in production
#SMTP_HOST=

# SMTP server listening on unprotected port with SSL/TLS frontend. If not
# specified, the server will not listen on unprotected port. The unprotected
# port can be used by local clients to send emails without requiring encryption
#SMTP_PORT=25

# SMTP server listening on SSL/TLS port. If not specified, the server will not
# listen on SSL/TLS port
#SMTP_TLS_PORT=465

# SMTP server listening on unprotected port with STARTTLS upgrade to SSL/TLS. If
# not specified, the server will not listen on the STARTTLS port
#SMTP_STARTTLS_PORT=587

# SMTP server SSL/TLS/STARTTLS certificates in PEM format
#SMTP_KEY_FILE=certs/smtp_key.pem
#SMTP_CERT_FILE=certs/smtp_cert.pem

# Externally reachable host or address of the SMTP server, reported on
# configuration page
#SMTP_PUBLIC_HOST=smtp.example.com

# Initial SMTP greeting sent in initial 220 server response in addition to the
# target server's one. Defaults to SMTP_PUBLIC_HOST
#SMTP_GREETING_NAME=smtp.example.com

# External port of the reverse SSL/TLS proxy forwarding traffic to SMTP server's
# unprotected port. If defined empty, the port will not be shown on UI. Defaults
# to 465
#SMTP_PUBLIC_PORT=465

# External port of the SSL/TLS SMTP server. If defined empty, the port will not
# be shown on UI. Defaults to 465
#SMTP_PUBLIC_TLS_PORT=465

# External port of the SMTP server with STARTTLS upgrade to SSL/TLS. If defined
# empty, the port will not be shown on UI. Defaults to 587
#SMTP_PUBLIC_STARTTLS_PORT=587

############################################
# HTTP server configuration

# HTP server listening host or address. Multiple addresses can be specified
# separated by comma, empty value equals to listening on all interfaces.
# Defaults to SMTP_HOST value
#HTTP_HOST=

# HTTP server port
#HTTP_PORT=3000

# When certificates are provided, the server will listen as HTTPS on HTTP_PORT
#HTTPS_KEY_FILE=certs/https_key.pem
#HTTPS_CERT_FILE=certs/https_cert.pem
